footer{
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(253, 255, 138);
    padding: 10px;
    text-align: center;
    .gap{
        padding: 15px;
    }
}