
.slider {
    height: calc(100vh - 80px);
    width: 100vw;
    position: relative;
  .container{
    width: 300vw;
    display: flex;
    height: 100%;
    img{
        height: 100%;
        width: 100vw;
        object-fit: cover;
    }
  }
  .navigation {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    bottom: 100px;
    .icon{
        border: 1px cyan solid;
        margin: 20px;
        color: black;
        background-color: cyan;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0.8;
    }
}
}
